<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
   
    
    
    <!--ConnServlet-->
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <!--LoginServlet-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!--    RegisterServlet-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <!--    LogoutServlet-->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.LogoutServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <!--    MainServlet-->
    <!--    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>uts.isd.controller.MainServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>-->
    
    <!--    CancelServlet-->
    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>uts.isd.controller.CancelServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/CancelServlet</url-pattern>
    </servlet-mapping>
    
    <!--ViewSuppliersServlet-->
    <servlet>
        <servlet-name>ViewSuppliersServlet</servlet-name>
        <servlet-class>uts.isd.controller.ViewSuppliersServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewSuppliersServlet</servlet-name>
        <url-pattern>/ViewSuppliersServlet</url-pattern>
    </servlet-mapping>
    <!--AddSupplierServlet-->
    <servlet>
        <servlet-name>AddSupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddSupplierServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSupplierServlet</servlet-name>
        <url-pattern>/AddSupplierServlet</url-pattern>
    </servlet-mapping>
    <!--SearchSupplierServlet-->
    <servlet>
        <servlet-name>SearchSupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchSupplierServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchSupplierServlet</servlet-name>
        <url-pattern>/SearchSupplierServlet</url-pattern>
    </servlet-mapping>
    <!--UpdateSupplierServlet-->
    <servlet>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateSupplierServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <url-pattern>/UpdateSupplierServlet</url-pattern>
    </servlet-mapping>
    <!--DeleteSupplierServlet-->
    <servlet>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteSupplierServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <url-pattern>/DeleteSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.AdminLogoutServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.ViewProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/ViewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerProductSearchServlet</servlet-name>
        <servlet-class>uts.isd.controller.CustomerProductSearchServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerProductSearchServlet</servlet-name>
        <url-pattern>/CustomerProductSearchServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>EditPaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditPaymentServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPaymentServlet</servlet-name>
        <url-pattern>/EditPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchPaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchPaymentServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchPaymentServlet</servlet-name>
        <url-pattern>/SearchPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdatePaymentServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePaymentServlet</servlet-name>
        <url-pattern>/UpdatePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewPaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.ViewPaymentServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPaymentServlet</servlet-name>
        <url-pattern>/ViewPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeletePaymentServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <url-pattern>/DeletePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreatePaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.CreatePaymentServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePaymentServlet</servlet-name>
        <url-pattern>/CreatePaymentServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditCustomerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/EditCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateCustomerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CusDeleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.CusDeleteServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CusDeleteServlet</servlet-name>
        <url-pattern>/CusDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewAccessServlet</servlet-name>
        <servlet-class>uts.isd.controller.ViewAccessServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAccessServlet</servlet-name>
        <url-pattern>/ViewAccessServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccessLogsSearchServlet</servlet-name>
        <servlet-class>uts.isd.controller.AccessLogsSearchServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessLogsSearchServlet</servlet-name>
        <url-pattern>/AccessLogsSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffAccessServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffAccessServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffAccessServlet</servlet-name>
        <url-pattern>/StaffAccessServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffLogoutServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <url-pattern>/StaffLogoutServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>addShippingServlet</servlet-name>
        <servlet-class>uts.isd.controller.addShippingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addShippingServlet</servlet-name>
        <url-pattern>/addShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewShippingServlet</servlet-name>
        <servlet-class>uts.isd.controller.viewShippingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewShippingServlet</servlet-name>
        <url-pattern>/viewShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchShippingServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchShippingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchShippingServlet</servlet-name>
        <url-pattern>/SearchShippingServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
