[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = simpman4
	email = napolim4@gmail.com

[user]

name = napoliboy1
email = marcus.naps@gmail.com